html {
    width: 100vw;
    height: 100vh;
    background-color: #1f222b;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 900px;
    width: 500px;
    background-color: rgba(240, 248, 255, 0.083);
    border-radius: 10px;
}

#calculator {
    display: flex;
    
    margin: auto;
    width: 450px;
    height: 855px;
    border-radius: 10px;
    background-color: rgb(214, 227, 238);
}

.display {
    margin: 15px auto;
    height: 142.5px;
    width: 95%;
    background-color: white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}
.display .top {
    padding-top: 15px;
    margin-right: 15px;
    font-size: 18px;
}
.display .bottom {
    margin-top: 10px;
    margin-right: 15px;
    padding-top: 15px;
    font-size: 36px;
}

.buttons {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    border-radius: 10px;
    width: 100%;
    height: 660px;
    background-color: rgb(187, 196, 203);
    margin-bottom: 10px;
}

.row input {
    background-color: azure;
    width: 100px;
    height: 120px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}