html {
    width: 100vw;
    height: 100vh;
    background-color: #1f222b;
}

#container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 810px;
    width: 450px;
    background-color: aliceblue;
    border-radius: 10px;
}
