/* First we will need to relearn how to use CSS variables */
/* That way we can create selectors that will allow us 
    to switch between various themes in our html file. */

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right,rgb(7, 11, 37), rgb(14, 30, 64), rgb(66, 5, 65));
    color: #e0d3d3;
}

header {
    display: flex;
    width: auto;
}
.nav-bar {
    display: flex;
    width: 100%;
    background-color: aliceblue;
    position: sticky;
    z-index: 1;
}
.list-container {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.theme-select {
    margin-right: 30px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.theme-select:hover {
    background-color: black;
    color: white;
}
.calc-body {
    margin-top: 15px;
    background-color: aliceblue;
    width: 50%;
    height: 600px;
    margin: 20px auto 0;
    color: black;
    border-radius: 10px;
}