:root {
    --1stbackgroundColor: #1a1527;
    --3rdbackgroundColor: #1f4d69;
    
    --panelColor1: #3498c626;
    --panelColor2: #0c0e1874;
    --panelColor2point5: #38468f0e;
    --panelColor3: #1e2445ca;
    --panelColor4: #1312174d;

    --fontColor1: rgba(93, 211, 234, 0.961);
    --fontColor1point5: rgba(72, 195, 187, 0.726);
    --fontColor2: rgba(141, 254, 237, 0.961);
    --fontColordisabled: rgba(33, 84, 76, 0.961);
    --glowColor1: rgba(61, 210, 230, 0.733);
    --glowColor2: rgba(162, 255, 210, 0.733);
    --glowColor3: rgb(162, 255, 210);
}
html, body {
    width: 100%;
    height: 100%;
}
body{
    /*Flex properties*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*Background properties*/
    background-color: var(--1stbackgroundColor);
    background-image: url(images/pramod-tiwari--Q8SZ4KIug4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    /*Size properties*/
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    /*Animation properties*/
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }   
    to {
        opacity: 1;
    }
}

.main-body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: var(--panelColor1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(16, 18, 20, 0.5);
    width: 480px;
    height:810px;
}

/*The display panel will have two levels
a top and a bottom level*/
.display {
    width: 450px;
    height: 160px;
    background-color: var(--panelColor2);
    margin: 15px auto;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 var(--glowColor1);
}

.topDisplay{
    /*position and size properties*/
    width: 95%;
    height: 30%;
    margin: 10px auto;

    /*font properties*/
    color: var(--fontColor1point5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: right;
}

.bottomDisplay{
    /*position and size properties*/
    width: 99%;
    height: 50%;
    margin: 10px auto;

    /*font properties*/
    color: var(--fontColor1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.5rem;
    text-align: right;
}
.bottomContent {
    margin-right: 10px;
}

.buttons-panel {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--panelColor2);
    padding: 10px 10px 15px 10px;
    border-radius: 10px;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

input {
    width: 81px;
    height: 88px;
    border-radius: 10px;
    border: none;
    background-color: var(--panelColor2point5);
    /* box-shadow: 0 0 1px 0 var(--glowColor2); */
    color: var(--fontColor1);
    font-size: 1.5rem;
}
input:not(:enabled) {
    background-color: var(--panelColor4);
    color: var(--fontColordisabled);
}
input:hover:enabled {
    box-shadow: 0 0 10px 0 var(--glowColor3);
    color: var(--fontColor2);
}