:root {
    --1stbackgroundColor: #1a1527;
    --2ndbackgroundColor: #1d2b43e7;
    --3rdbackgroundColor: #1f4d69;
}
html, body {
    width: 100%;
    height: 100%;
}
html{
    background-color: var(--1stbackgroundColor);
    background-image: url(images/pramod-tiwari--Q8SZ4KIug4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }   
    to {
        opacity: 1;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-body {
    background-color: var(--2ndbackgroundColor);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    width: 480px;
    height:720px;
}
