:root {

    /*BLUES*/
    --snow1stbackgroundColor: #3b3c3d;
    --snow2ndbackgroundColor: #222122;
    --snow3rdbackgroundColor: #5b656d;
    
    --snowpanelColor1: #bab1ab26;
    --snowpanelColor2: #19191abe;
    --snowpanelColor2point5: #8c8b920e;
    --snowpanelColor3: #57565bb8;
    --snowpanelColor4: #2e2f304d;

    --snowgradient1: linear-gradient(to bottom, var(--snowpanelColor1), var(--snowpanelColor2));
    --snowgradient2: linear-gradient(to bottom, var(--snowfontColor1), var(--snowfontColor2));

    --snowfontColor1: rgba(200, 223, 226, 0.961);
    --snowfontColor1point5: rgba(159, 180, 195, 0.902);
    --snowfontColor2: rgba(141, 254, 246, 0.961);
    --snowfontColordisabled: rgba(149, 163, 157, 0.961);

    --snowglowColor1: rgba(240, 245, 229, 0.872);
    --snowglowColor2: rgba(162, 241, 255, 0.932);
    --snowglowColor3: rgb(193, 255, 196);
    --snowglowcolor4: #91ffcc;

    /*Red image*/
    --image2: url(images/emile-seguin-R9OueKOtGGU-unsplash.jpg);
    /*BnW image*/
    --image3: url(images/dan-cristian-padure-zm1oNbYS7DY-unsplash.jpg);

    --image4: url(images/s-tsuchiya-3e0yw5MssSU-unsplash.jpg);
    --image5: url(images/shri-FTDCDqOxTEE-unsplash.jpg);
}
html, body {
    width: 100%;
    height: 100%;
}

#nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--snow2ndbackgroundColor);
    top: 0;
    left: 0;
    color: var(--snowfontColor1);
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
}
.theme-select {
    color: var(--snowfontColor1);
    font-family: Arial, Helvetica, sans-serif;
}
body{
    /*Flex properties*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*Background properties*/
    background-color: var(--snow1stbackgroundColor);
    background-image: var(--image2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*Size properties*/
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    /*Animation properties*/
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }   
    to {
        opacity: 1;
    }
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--snowpanelColor1);
    background-image: var(--snowgradient1);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    width: 480px;
    height:810px;
}

/*The display panel will have two levels
a top and a bottom level*/
.display {
    width: 450px;
    height: 160px;
    background-color: var(--snowpanelColor2);
    margin: 15px auto;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 var(--snowglowColor1);
}

.topDisplay{
    /*position and size properties*/
    width: 95%;
    height: 30%;
    margin: 10px auto;

    /*font properties*/
    color: var(--snowfontColor1point5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: right;
}

.bottomDisplay{
    /*position and size properties*/
    width: 99%;
    height: 50%;
    margin: 10px auto;

    /*font properties*/
    color: var(--snowfontColor1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: right;
}
#bottomContent {
    margin-right: 10px;
}

.buttons-panel {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--snowpanelColor2);
    padding: 10px 10px 15px 10px;
    border-radius: 10px;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

input {
    width: 81px;
    height: 88px;
    border-radius: 10px;
    border: none;
    background-color: var(--snowpanelColor2point5);
    color: var(--snowfontColor1);
    font-size: 1.5rem;
}
input:not(:enabled) {
    background-color: var(--snowpanelColor4);
    color: var(--snowfontColordisabled);
}
input:hover:enabled {
    box-shadow: 0 0 10px 0 var(--snowglowColor1);
    color: var(--snowfontColor2);
}
input:active:enabled {
    background-color: var(--snowpanelColor3);
    box-shadow: 0 0 10px 0 var(--snowglowColor3);
    color: var(--snowfontColor2);
}

.number {
    background-color: var(--snowpanelColor3);
}
.number:hover {
    background-color: var(--snowpanelColor2point5);
}
.number:active {
    background-color: var(--snowpanelColor2);
}
a {
    text-decoration: none;
    color: var(--snowfontColor1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}